<!-- wp:ui/page-container {"mb":{"md":15,"xs":8},"mt":{"md":15,"xs":8},"pb":{"md":0,"xs":0},"pt":{"md":0,"xs":0}} -->
<div class="wp-block-ui-page-container"><!-- wp:post-featured-image {"width":"1024px","height":"400px","style":{"spacing":{"margin":{"bottom":"2.5rem","left":"0","right":"0"}},"border":{"radius":"0px"}}} /-->

<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|32px","top":"0"}}},"fontSize":"h1"} /-->

<!-- wp:post-content {"style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"16px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","contentSize":"1280px","wideSize":"100%","justifyContent":"center"}} /--></div>
<!-- /wp:ui/page-container -->

<!-- wp:ui/page-container {"mb":{"md":0,"xs":0},"mt":{"md":0,"xs":0},"pb":{"md":0,"xs":0},"pt":{"md":0,"xs":0}} -->
<div class="wp-block-ui-page-container"><!-- wp:group {"style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:ui/share-button {"className":"","href":"https://www.facebook.com/sharer/sharer.php?u=","target":"_blank","variant":"outline","children":"Share on Facebook","startIconName":"Facebook"} /-->

<!-- wp:ui/share-button {"className":"","href":"https://twitter.com/share?url=","target":"_blank","variant":"outline","children":"Share on Twitter","startIconName":"X"} /-->

<!-- wp:ui/share-button {"className":"","href":"https://www.linkedin.com/sharing/share-offsite/?url=","target":"_blank","variant":"outline","children":"Share on LinkedIn","startIconName":"LinkedIn"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:ui/page-container -->

<!-- wp:ui/page-container {"mb":{"md":15,"xs":8},"mt":{"md":15,"xs":8},"pb":{"md":0,"xs":0},"pt":{"md":0,"xs":0}} -->
<div class="wp-block-ui-page-container"><!-- wp:separator {"className":"is-style-wide","backgroundColor":"grey-700"} -->
<hr class="wp-block-separator has-text-color has-grey-700-color has-alpha-channel-opacity has-grey-700-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|64px","bottom":"var:preset|spacing|32px","right":"0","left":"0"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" style="margin-top:var(--wp--preset--spacing--64-px);margin-right:0;margin-bottom:var(--wp--preset--spacing--32-px);margin-left:0">Related Articles:</h2>
<!-- /wp:heading -->

<!-- wp:ui/posts {"hidePagination":true} /--></div>
<!-- /wp:ui/page-container -->